@model Job_Entity.Models.Profession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libbele_Proffession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libbele_Proffession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spesialite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spesialite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDProfession }) |
    @Html.ActionLink("Back to List", "Index")
</p>
