@model IEnumerable<Job_Entity.Models.Profession>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libbele_Proffession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spesialite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libbele_Proffession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spesialite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDProfession }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDProfession }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDProfession })
        </td>
    </tr>
}

</table>
