@model IEnumerable<Job_Entity.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Index 10 10 10 10 10 10 10 10</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DernierVisit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mdp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DernierVisit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUtilisateur }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUtilisateur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUtilisateur })
        </td>
    </tr>
}

</table>
